@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.swiper {
     touch-action: pan-y;
   }
   a, button {
     touch-action: manipulation;
   }